* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: rgba(33, 45, 150, 0.6)
} 


#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#logo, #menu {
    line-height: 75px;
    color:#012169;
}

menu a {
    text-decoration: none;
    color: #012169;
}

#menu a:hover {
    color: #C8102E;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

.active {
    color: #012169;
}

h2 {
    color:#012169;
}

img {
    margin: 0 auto;
    margin-bottom: 30px;
    height: 300px;
    width: 100%;
    float: left;
}


/* Text on the home page*/


.welcome {
    padding-top: 90px;
    padding-left: 40%;
    padding-bottom: 50px;
    font-size: xx-large;
}

hr {
    border-bottom: 3px solid #012169;
    width: 38%;
}

#home-text {
   padding-top: 10px;
   padding-left: 37%;
   font-size: larger;
}


#explore-courses {
    padding-top: 80px;
    padding-left: 25%;
    font-size: larger;
}

#answer-yes {
    padding-bottom: 20px;
    padding-left: 30%;
    font-size: larger;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:#012169;
}






