

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-weight: 300;
    color: #012169;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;  
}

#nav-menu, #logo {
    line-height: 75px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: #012169;
}

#nav-menu a:hover {
    color: #c8102e;
}

#hero {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/uk-flag.jpg) no-repeat center center;
}

#welcome, #courses {
    height: 600px;
}

#greeting {
    margin-left: 30px;
    padding-bottom: 40px;
    font-style: italic;
}

.left-side-text {
    float: left;
    margin-left: 30px;
    padding-bottom: 20px;
}


.right-side-text {
    float: right;
    margin-right: 30px;
    padding-bottom: 20px;
}

#courses-title {
    margin-left: 30px;
    padding-bottom: 40px;
    font-style: italic;
}


iframe {
    width: 33%;
    margin: 0 auto;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:#012169;
}
